
@{
    ViewBag.Title = "Ericsson";
}

<h2>Ericsson</h2>

@Html.ActionLink("Index", "Index", "Company")
@Html.ActionLink("EcUtbildning", "EcUtbildning", "Company")
@Html.ActionLink("Ericsson", "Ericsson", "Company")
@Html.ActionLink("Volvo", "Volvo", "Company")