@using Uppgift3.Controllers

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@Html.ActionLink("Index", "Index", "Company")
@Html.ActionLink("EcUtbildning", "EcUtbildning", "Company")
@Html.ActionLink("Ericsson", "Ericsson", "Company")
@Html.ActionLink("Volvo", "Volvo", "Company")
