
@{
    ViewBag.Title = "B2C";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>B2C</h2>

@Html.ActionLink("B2B", "B2B", "Sell")
@Html.ActionLink("C2C", "C2C", "Sell")
@Html.ActionLink("Completion", "Completion", "Sell")