
@{
    ViewBag.Title = "C2C";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>C2C</h2>
@Html.ActionLink("B2C", "B2C", "Sell")
@Html.ActionLink("B2B", "B2B", "Sell")
@Html.ActionLink("Completion", "Completion", "Sell")
