
@{
    ViewBag.Title = "Completion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Completion</h2>

@Html.ActionLink("B2C", "B2C", "Sell")
@Html.ActionLink("C2C", "C2C", "Sell")
@Html.ActionLink("B2B", "B2B", "Sell")